@import '../../variables.scss';

.user-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .user-form__validation-error {
      position: absolute;
      color: $color-primary2;
      font-size: $fontSizeS;
      top: -15px;
    }
  }
  button {
    height: 32px;
    width: 100%;
    border-radius: 8px;
    margin: 16px 8px 0;
  }
}