@import "../../variables.scss";

.companies-list {
  .companies-list__heading {
    display: flex;
    justify-content: space-between;
    font-weight: fontWeightBold;
    font-size: $fontSizeL;
    li {
      &:not(:first-child) {
        flex-basis: 21%;
      }
    }
  }
}