@import "../../variables.scss";

.modal-content {
  width: 468px;
  background-color: white;
  padding: 12px 24px 36px;
  border-radius: $borderRadiusMain;
  .modal-content__header {
    text-align: center;
  }
  .modal-content__text {
    display: flex;
    align-items: center;

  }
  p {
    margin-right: 8px;
    font-weight: $fontWeightBold;
    font-size: $fontSizeM;
  }
}