@import "../../variables.scss";

.modal-content {
  width: 468px;
  background-color: $color-primary4;
  padding: 24px;
  border-radius: 6px;
  .modal-content__header {
    text-align: center;
    font-family: 'Lato';
  }
  .modal-content__summary {}
  .modal-content__text {
    display: flex;
    align-items: center;
    p {
      margin-right: 8px;
    }
  }
}