// PRIMARY COLOR PALETTE (UI, PRESENTATIONS).
$color-primary1: #373954;
$color-primary2: #f16042;
$color-primary3: #c1b2ac;
$color-primary4: #dcd4d0;

// SECONDARY COLOR PALETTE (GRAPHS, DATA VISUALISATION ETC).
$color-secondary1: #c3335d;
$color-secondary2: #f2ca3c;
$color-secondary3: #c5da4a;
$color-secondary4: #80919b;
$color-secondary5: #1e6486;
$color-secondary6: #9d54a1;
$color-secondary7: #c94040;
$color-secondary8: #64c3a0;

// FONT SIZE
$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeM: 16px;
$fontSizeL: 18px;
$fontSizeL: 24px;

// FONT WEIGTH
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

// BORDER RADIUS
$borderRadiusMain: 6px;