@import "../../variables.scss";

.companies-list__item {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  cursor: pointer;
  font-size: $fontSizeM;
  border-radius: $borderRadiusMain;
  span {
    &:not(:first-child) {
      flex-basis: 20%;
    }
  }
}
.companies-list__item:hover {
  background-color: $color-primary4;
}